In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
# import warnings
# warnings.filterwarnings('ignore')

In [2]:
#!pip --version

pip 23.2.1 from d:\MLProject\depenv\lib\site-packages\pip (python 3.8)

In [11]:
#%pip install warnings

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement warnings (from versions: none)
ERROR: No matching distribution found for warnings

In [33]:
#path = 'D:\MLProject\notebooks\data\StudentsPerformance.csv'
#path1 = path.replace("\", "\\")
path1 = (repr(path)[1:-1])

In [34]:
df = pd.read_csv(path1)

In [35]:
df.shape

(1000, 8)

In [4]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [31]:
df.drop(columns=['math_score'],inplace=True, axis=1)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   reading_score                1000 non-null   int64
 6   writing_score                1000 non-null   int64
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

In [21]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [22]:
df.duplicated().sum()

0

In [23]:
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

In [25]:
cat_var = [var for var in df.columns if df[var].dtype == 'O']
num_var = [var for var in df.columns if df[var].dtype != 'O']

['math score', 'reading score', 'writing score']

In [26]:
# Adding columns for total score and average score

df['total_score'] = df['reading score'] + df['math score'] + df['writing score']
df['average_score'] = df['total_score']/3